/* Medium Display Properties (~ 520px-1200px wide) */
@media screen and (min-width: 32.5em) and (max-width:75em) {

    .content {
        max-width: 520px;
        min-width: 360px;
        margin: 0 auto;
        border: 8px solid white;
        border-radius: 12px;
    }
    
    header, footer {
        border-radius: 8px;
    }
    
    /* Font Sizes */
    h1 { font-size: 28px; }
    h2, .page-footer { font-size: 20px; }
    h3, h4, h5, h6 { font-size: 24px; }
    li { font-size: 24px; }
    p { font-size: 18px; }

    .student-name {
        margin-top: 0px;
    }

    /* index.html CSS Properties */
    .index-grid {
        padding: 0px 32px 16px 32px;
    }
    
    .index-student-picture {
        border-radius: 4px;
    }
    
    .index-student-name {
        text-align: center;
        margin: 0px;
    }

    .index-list-area {
        display: block;
        height: auto;
    }

    .index-list-2 {
        margin-top: -18px;
    }
}