/* Fronts from Google Fonts @ https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&family=Roboto+Slab:wght@800&display=swap" rel="stylesheet');

/* Shortcuts for colors and fonts */
:root {
/* Colors */
    --primary: #0B132B;
    --secondary: #22c2da;
    --accent1: #243054;
    --accent2: #dc1529;

    --font-light: #FCFFFC;
    --font-dark: #0B132B;

    --background: #FCFFFC;
    --shadow: #030303;
    --italicized: #888888;
/* Fonts */
    --heading-font: 'Roboto Slab', georgia, serif;
    --sub-font: 'Oswald', tahoma, sans-serif;
    --paragraph-font: 'Roboto', tahoma, sans-serif;
}

/* Universal CSS Properties */
body {
    background-color: var(--accent1); 
    color:black;
}

.content {
    background-color: var(--background);
    box-shadow: 0px 5px 10px 0px var(--shadow);
    max-width: 500px;
    min-width: 360px;
    margin: 0 auto;
    padding: 4px;
    border-radius: 12px;
}

header, footer {
    background-color: var(--primary);
    border-radius: 8px;
    text-align: center;
}

h1, h2, h3 {
    color: var(--primary);
    font-family: var(--heading-font);
    font-size: 1.7em;
    letter-spacing: 1px;
}

h4, h5, h6, li {
    color: var(--font-dark);
    font-family: var(--sub-font);
    font-size: 24px;
    line-height: 1.6em;
    list-style: square;
}

p, div {
    color: var(--font-dark);
    font-family: var(--paragraph-font);
    font-size: 1em;
}

i {
    color: var(--italicized);
}

hr {
    border: 2px solid var(--accent2);
    border-radius: 4px;
}

a:active { /* Link when visited */
    color: var(--accent2);
}

/* index.html CSS Properties */
.index-grid {
    padding: 0px 32px 16px 32px;
}

.index-header {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    padding: 10px;
}

.index-student-picture {
    grid-column: 1/2;
    width: 90%;
    border-radius: 4px;
}

.index-student-name {
    color: var(--secondary);
    grid-column: 2/3;
    align-self: center;
    margin-right: 10px;
}

.index-footer {
    display: block;
    padding: 8px;
}

.copy {
    color: var(--secondary);
    margin-top: 10px;
}

.last-updated {
    color: var(--secondary);
    margin-top: 0px;
}

/* Mobile Display */
@media screen and (max-width: 550px) {
    .content {
        padding: 0px;
    }

    .index-grid {
        display: block;
    }

    .index-header {
        border-radius: 0px;
        padding: 0px;
    }

    .index-footer {
        border-radius: 0px;
    }

    .index-student-picture {
        border-radius: 0px;
        width: 100%;
    }
    
    .index-student-name {
        margin: 10px;
    }
}

