/* Colors & Font Roots */
@import "root.css";

/* Medium Display Properties (~ 520px-1200px wide) */
@media screen and (min-width: 32.5em) and (max-width:75em) {

    .content {
        box-shadow: 0px 5px 10px 0px var(--shadow);
        max-width: 520px;
        min-width: 360px;
        margin: 0 auto;
        padding: 4px;
        border-radius: 12px;
    }
    
    header, footer {
        border-radius: 8px;
    }
    
    /* Font Sizes */
    h1 { font-size: 28px; }
    h2 { font-size: 18px; }
    h3, h4, h5, h6 { font-size: 28px; }
    li { font-size: 24px; }
    p { font-size: 18px; }

    /* index.html CSS Properties */
    .index-grid {
        padding: 0px 32px 16px 32px;
    }
    
    .index-header {
        padding: 10px;
    }
    
    .index-student-picture {
        border-radius: 4px;
    }
    
    .index-student-name {
        text-align: center;
        margin: 0px;
    }

    .index-list-area {
        display: block;
        grid-template-columns: 1fr;
        row-gap: 0px;
        height: auto;
    }

    .index-list-2 {
        margin-top: -18px;
    }
    
}