/* Colors & Font Roots */
@import "root.css";

/* Small Display Properties (~ 320px-520px wide) */
@media screen and (min-width: 20em) and (max-width: 32.5em) {

    .content {
        border-top: 8px solid white;
        border-bottom: 8px solid white;
    }

    header, footer {
        text-align: center;
    }

    /* Font Sizes */
    h1 { font-size: 38px; }
    h2, .page-footer { font-size: 20px; }
    h3, h4, h5, h6 { font-size: 24px; }
    li { font-size: 22px; }
    p { font-size: 18px; }

    i {
        color: var(--italicized);
    }

    a:active { /* Link when visited */
        color: var(--accent2);
    }

    .student-name {
        margin-top: -5px;
    }

    /* index.html CSS Properties */
    .index-grid {
        padding: 0px 32px 16px 32px;
    }

    .index-header {
        padding: 10px;
    }

    .index-student-picture {
        border-radius: 4px;
    }

    .index-student-name {
        text-align: center;
        margin: 0px;
    }

    .index-list-area {
        display: block;
        height: auto;
    }

    .index-list-2 {
        margin-top: -18px;
    }

    .copy {
        color: var(--secondary);
        margin-top: 10px;
    }

    .last-updated {
        color: var(--secondary);
        margin-top: 0px;
    }
}