/* Small Display Properties (~ 320px-520px wide) */
@media screen and (min-width: 20em) and (max-width: 32.5em) {

    header {
        display: grid;
        grid-template-columns: auto 2fr auto;
        grid-template-rows: auto auto 1fr;
    }

    /* Font Sizes */
    h1 { font-size: 38px; }
    h2 { font-size: 34px; }
    h3 { font-size: 22px; }
    h4, h5, h6 { font-size: 24px; }
    li { font-size: 22px; }
    p, span, div { font-size: 18px;}
    footer, #banner { font-size: 18px; }

    /* Navigation */
    .navigation {
        list-style: none;
        padding: 0px;
        border-width: 2px 0px 2px 0px;
        text-align: left;
    }

    .navigation li:first-child {
        display: block;
    }
    
    .navigation li {
        display: none;
        border-width: 2px 4px 2px 4px;
    }
    
    .navigation i {
        display: block;
        margin-right: 10%;
    }

    .responsive li {
        display: block;
    }

    hr {
        width: auto;
    }

    /* Header */
    #banner {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .company-logo {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .company-logo img {
        width: 120px;
    }

    .company-name h1 {
        font-size: 32px;
        padding-left: 10px;
    }

    .company-name {
        grid-column: 2/4;
        grid-row: 3/4;
        margin-top: 10px;
        margin-bottom: auto;
    }
    
    .time {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: 12px;
        margin-bottom: auto;
    }

    .social-media {
        grid-column: 3/4;
        grid-row: 2/3;
        margin-top: 4px;
        margin-bottom: auto;
        padding-right: 4px;
    }

    .facebook img, .linkedin img{
        width: 40px;
        padding-left: 4px;
    }

    /* Footer */
    .footer-logo img {
        width: 200px;
    }

    .contact-info {
        text-align: center;
        padding: 30px 0px 30px 0px;
    }

    .footer-company {
        font-size: 22px;
        line-height: 36px;
    }

    .student-info {
        text-align: center;
    }

    /* Index CSS Properties */
    .index-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
    }

    .call-to-action {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 0px;
    }

    .action-title {
        margin: 20px 20px 0px 0px;
        padding: 4px 30px 4px 30px;
        font-size: 30px;
    }

    .events {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .weather {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #w-temp {
        font-size: 64px;
    }
    #w-icon {
        display: block;
        margin: auto;
    }
    #w-icon {
        width: 100px;
    }

    .news-release {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .join {
        display:none;
    }

    .spotlight-grid {
        grid-column: 1/2;
        grid-row: 5/6;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .spotlight-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .spotlight-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .spotlight-3 {
        display: none;
    }

    /* Discover CSS Properties */
    .discover-grid {
        padding: 4px 20px 4px 20px;
    }

    .discover-grid div figure {
        padding: 0px;
    }

    .discover-grid figcaption {
        padding-left: 20px;
    }

    .discover-grid img {
        padding: 0px;
    }

    .discover-grid img:hover {
        box-shadow: none;
    }

    /* Join CSS Properties */
    .join-grid {
        padding: 4px 0px 4px 0px;
    }
    .join-grid form {
        background-color: var(--background);
        box-shadow: 0px 2px 5px 0px var(--shadow);
        margin: 20px 0px;
        padding: 10px;
    }

    .join-1 fieldset h3, .join-1 fieldset p {
        padding-left: 20px;
        padding-right: 20px;
    }
    .join-1 fieldset input {
        margin-left: 10px;
        margin-right: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .join-2 {
        padding-left: 45px;
        padding-right: 45px;
    }
    .join-3 h3, .join-3 p {
        padding-left: 22px;
        padding-right: 22px;
    }

    input, textarea {
        font-size: 1.2em;
    }

    textarea {
        width: 92%;
    }

    input {
        height: 44px;
    }

    input[type="submit"] {
        padding: 4px;
        width: 100%;
    }

    input[type="radio"] {
        height: auto;
    }

    /* Join CSS Effects */
    input[type="text"]:valid, input[type="tel"]:valid, input[type="email"]:valid {
        border-left: 16px solid var(--status-green);
    }

    input[type="text"]:invalid, input[type="tel"]:invalid, input[type="email"]:invalid {
        border-left: 16px solid var(--status-red);
    }

    /* ThankYou CSS Properties */
    .thankyou-grid {
        padding: 80px 20px 100px 20px;
    }

    .thankyou-message {
        padding: 20px 20px;
    }
}